SQO_REDIS_URL=redis://127.0.0.1:6379/0
SQO_QUEUE=gpu
SQO_NAMESPACE=sqo
SQO_PARTITION=dgx
SQO_WORKER_ID=sqo-worker-%H
SQO_S3_BUCKET=YOUR_BUCKET
SQO_S3_PREFIX=slurm-quorum
SQO_S3_TELEMETRY_PREFIX=slurm-quorum/telemetry
SQO_S3_ENDPOINT_URL=
SQO_S3_REGION=
SQO_LEASE_TTL_S=8
SQO_ELECTION_MIN_S=2
SQO_ELECTION_MAX_S=4
SQO_AGENT_INTERVAL_S=2
